<%-include("partials/header") -%>
<div class="container" style="padding-bottom:1rem;text-align:center;">
  <img class="coronaVirusImg" src="images/coronavirus.png" alt="">
  <div class="row">
    <div class="col-md-6">
      <div class="subject">
    <div class="box">


        <h3>OverView</h3>
        <h5 class="aboutCovid">What is Corona Virus disease or Covid-19?</h5>
        <p class="aboutCovid">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>
    </div>
      </div>
    </div>
  <div class="col-lg-6 subject">
      <img src="images/virus.png" alt="" height="160px" width="160">
  </div>

  </div>
  <div class="row">

<div class="col-md-6">
  <div class="subject">
    <h3>Spread</h3>
    <h5 class="aboutCOVID">How it Spreads?</h5>
    <p class="aboutCOVID">The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing
      into a flexed elbow).</p>
      </div>

</div>
<div class="col-md-6 subject">
  <img src="/images/hands.png" alt="" height="160" width="160">

</div>
</div>



<div class="row">
  <div class="col-md-6">
    <div class="Symptom subject">
      <h3>Symptoms</h3>
      <div class="row">
        <div class="col-lg-4">
          <ul>
            <h5>Most common symptoms</h5>
            <li>Fever</li><br>
            <li>Dry Cough</li><br>
            <li>tiredness</li><br>
          </ul>
        </div>
        <div class="col-lg-4">
          <ul>
            <h5>Less common symptoms</h5>
            <li>aches and pains</li><br>
            <li>sore thorat</li><br>
            <li>diarrhoea</li><br>
            <li>diarrhoea</li><br>
            <li>diarrhoea</li><br>
            <li>oss of taste or smell</li><br>
            <li>a rash on skin, or discolouration of fingers or toes</li><br>

          </ul>
        </div>
        <div class="col-lg-4">
          <ul>
            <h5>Serious symptoms</h5>
            <li>difficulty breathing or shortness of breath</li><br>
            <li>chest pain or pressure</li><br>
            <li>loss of speech or movement</li><br>
          </ul>
        </div>
     </div>
     </div>
   </div>
   <div class="col-md-6" styles="padding-top:100px;">
     <div class="row subject">
       <div class="col-md-6 ">
          <img styles="padding-top:100px;" src="/images/cough.png" alt="" height="160" width="160">
       </div>
       <div class="col-md-6"">
          <img styles="padding-top:100px;" src="/images/tired.png" alt="" height="160" width="160">
       </div>


     </div>

   </div>
   </div>
  <div class="precaution subject">



    <h3>Precaution/Prevention</h3>
    <h5>Protect yourself and others from getting sick and Follow the advice given by your health agency</h5>

    <h5>Preventative measures are your first line of defense. The best way to protect yourself from COVID-19 is to practice good hygiene and to make these CDC recommendations part of your routine:</h5>
  <ul>
    <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
    <li>Maintain at least 1 metre distance between you and people coughing or sneezing.</li>
    <li>Avoid touching your face.</li>
    <li>Cover your mouth and nose when coughing or sneezing.</li>
    <li>Stay home if you feel unwell.</li>
    <li>Refrain from smoking and other activities that weaken the lungs.</li>
    <li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>

  </ul>







</div>

<div class="moreDetails">

  <h3>For More Details Visit:-</h3>
   <h5 class="text-primary" ><a href="https://www.mygov.in/covid-19/">MoH INDIA</a></h5>
   <h5 class="text-primary"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a></h5>
   <p>Thanks a Lot our Healthcare Heroes and others who provided their valuable services in this pandemic</p>
   <img src="https://media.giphy.com/media/WsRFo5SaNEsHo0e5tk/giphy.gif" alt="" height="200px" width="200px">

</div>

</div>




<%-include("partials/footer")-%>
