<%-include("partials/header") -%>
<div class="container">
  <div class="subject">
    <h5>About this Website</h5>
    <h5 class="text-primary">This website contains information related to Novel Corona-Virus 2019 specifying on Indian region.The data is being updated regularly.The data is represented graphically.There is map in which the Total number of confirmed cases are shown and there is a section where COVID-19 related information is given such as precaution,an Overview and Symptom.</h5>
  </div>
  <div class="subject">
    <h5>What are my sources?</h5>
     <h5 class="text-primary">I have used multiple Api provided by <a href="https://api.covid19india.org/">api.covid19india.org</a> this is not a official data source the data being used is from state bulletins and official handles to update the numbers. The data is validated by a group of volunteers and published into a Google sheet and an API <a href="https://api.covid19india.org/">api.covid19india.org</a></h5>
  </div>
  <div class="subject">
    <h5>Why does this website have more positive count than MoH?</h5>
    <h5 class="text-primary">MoHFW updates the data at a scheduled time. However, based on state press bulletins, official (CM, Health M) handles, PBI, Press Trust of India, ANI reports the data is updated.These are generally more recent.</h5>
</div>
<div class="subject">
  <div class="row">
    <div class="col-md-6">
      <h5>About the developer</h5>
      <h5 class="text-primary">This is Ayush Srivastava a full stack Web developer</h5>
      <h5 class="text-primary">Computer Science and Engineering Student</h5>
      <h5 class="text-primary">Stated in Jaipur,India</h5>
    </div>
    <div class="col-md-6">
      <img src="/images/ayush.png" alt="ayush.png" width="250px" height="250px"><br>
      <a class="footer-link" style="padding-top:30px;" href="https://www.linkedin.com/in/ayush-srivastava-0b7156191/"><i class="fab fa-linkedin-in icon"></i></a>
    </div>

  </div>

</div>
</div>

<%-include("partials/footer")-%>
